<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234313058781-muucphhksa0mogvkaqe7q7n2bqq8k5cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234313058781-muucphhksa0mogvkaqe7q7n2bqq8k5cc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjCfA1x_kP4-hHIF-La5WFA_Bh3WNVPtk</string>
	<key>GCM_SENDER_ID</key>
	<string>234313058781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wedo</string>
	<key>PROJECT_ID</key>
	<string>wedo-5f38b</string>
	<key>STORAGE_BUCKET</key>
	<string>wedo-5f38b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234313058781:ios:b11c084dc356c1b9f40e34</string>
	<key>DATABASE_URL</key>
	<string>https://wedo-5f38b.firebaseio.com</string>
</dict>
</plist>